parameters:
	ignoreErrors:
		-
			message: '#^Dead catch \- ReflectionException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 2
			path: tests/Unit/ExtendedServiceTest.php

		-
			message: '#^Parameter \#1 \$objectOrClass of class ReflectionClass constructor expects class\-string\<T of object\>\|T of object, class\-string\<T\> given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Unit/ExtendedServiceTest.php
